<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>House value predictor</title>
</head>
<body>
    <h1>Predict the sales price of houses in King County, Seattle</h1>
    <p>Input text file with one instance per line.</p>
    <p>Values should be integer or float and comma-separated. One instance should include:</p>
    <ul>
        <li>Measurement of house in square foot (integer)</li>
        <li>Overall grade given to the housing unit, based on King County grading system on a scale of 1 to 11 (1-11)</li>
        <li>Square footage of house apart from basement (integer)</li>
        <li>Living room area in 2015 (integer)</li>
        <li>Number of bathrooms in a bedroom of a house (integer)</li>
        <li>Whether a house has been viewed or not (binary 1/0)</li>
        <li>Square footage of the basement of the house (integer)</li>
        <li>Whether a house has a view to waterfront or not (binary 1/0)</li>
        <li>The date of building of the house (integer)</li>
        <li>Latitude of the location of the house (float)</li>
        <li>Number of bedrooms in a house (float)</li>
        <li>Longitude of the location of the house (float)</li>
    </ul>
    <form action = "" method = "POST" enctype = "multipart/form-data">
         <p><input type = "file" name = "file" /></p>
         <p><input type = "submit" value="Send"/></p>
    </form>
</body>
</html>
